
    <h1>LOGIN</h1>
    <p> Hey noob! Sign up! <a href='/signup'>HERE</a></p>
      <form class="" action="/login" method="POST">

        <input type='email' name="email" placeholder="email"><br>
        <input type='password' name="password" placeholder="password"><br>
        <input type="submit" name="" value="SIGN UP">

      </form>
