

<h1>SIGN UP</h1>
<p> already got a login? <a href="/login">click here</a>
<form class="" action="/signup" method="post">
  <form class="" action="index.html" method="post">
    <input type="email" name="email" placeholder="EMAIL"><br>
    <input type="text" name="name" placeholder="FULL NAME"><br>
    <input type="password" name="password" placeholder="CREATE A PASSWORD"><br>
    <input type="submit" value="SIGN UP">
  </form>
</form>
